$primary-color: #121212;

/* μ΄ μ£Όμ„ μ ν•μ€ μΈν„°ν΄λ μ΄μ…λ„ ν¬ν•¨ κ°€λ¥ν•©λ‹λ‹¤.
 * 9 + 2 = #{9 + 2} */

body {
  // λ³Έλ¬Έμ κΈ°λ³Έ κΈ€μ μƒ‰μƒμ€ primary-color λ³€μμ κ°’μΌλ΅ μ‚¬μ©
  color: $primary-color;
  /*μ„μ‹λ΅ λ°°κ²½ μƒ‰μƒ μ§€μ •*/
  background: yellow;

  /*! μ΄ μ£Όμ„μ€ μ••μ¶•(compressed) λ¨λ“μ—μ„λ„ μ¶λ ¥λ©λ‹λ‹¤. */
}

/* μ΄ μ£Όμ„μ€ μ»΄νμΌ λ CSS νμΌμ— μ¶λ ¥λ©λ‹λ‹¤. (μ••μ¶• λ¨λ“μ—μ„λ” μ¶λ ¥π™“) */

p /* μ—¬λ¬ μ¤„ μ£Όμ„μ€ μ–΄λ””μ„λ‚ μ‚¬μ© κ°€λ¥ν•©λ‹λ‹¤.
	 * κ³µλ°± λν• ν—μ©ν•©λ‹λ‹¤. */ .sans {
  font: SpoqaHanSans,
    // ν• μ¤„ μ£Όμ„λ„ μ΄λ ‡κ² μ‚¬μ© κ°€λ¥ν•©λ‹λ‹¤.
    Helvetica,
    Verdana, sans-serif;
}
